# Ignore Node modules
node_modules/

# Ignore output directories
out/
dist/

# Ignore JSON files
*.json
package.json

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore images
*.jpg

# Ignore tests
*.mp3
test.py
*.txt
*.zip

# Ignore sensitive files
*.pfx  # Ensure PFX files are not tracked